.toDo header {
  background: var(--gray-700);
  width: 100%;
  height: 12.5rem;
  display: flex;
}

header > img {
  margin: auto;
  display: flex;
}

.form input, button {
  border-radius: 8px;
  height: 3.375rem;
  border: 1px;
}

.form input {
  background: var(--gray-500);
  margin-right: 0.5rem;
  width: 37.875rem;
  height: 1.375rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  color: var(--gray-100);
}

.form button {
  background: var(--blue-dark);
  color: white;
  width: 5.625rem;
  font-weight: bold;
}

.form button:focus {
  box-shadow: none;
}

.form button:hover {
  background: var(--blue);
}

.form button svg {
  text-align: end;
  margin-left: 0.3rem;
  margin-bottom: -3px;
}

.form {
  width: 100%;
  position: absolute;
  top: calc(12.5rem - 1.6875rem);

  display: flex;
  justify-content: center;
}

.contentTasks {
  margin: auto;
  width: 46rem;
  margin-top: 5.6875rem;
}

.countTask {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--purple);
  font-weight: 700;
  font-size: 0.875rem;
}


.countTask p:first-child {
  color: var(--blue);
}

.countTask span {
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 50%;
  padding: 0.125rem 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  margin-left: 0.25rem;
}

.tasks {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  text-align: center;
}

.tasks > img {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.tasks > p {
  color: var(--gray-300);
  Line-height: 1.4rem;
}

.tasks > p:nth-child(2) {
  font-weight: bold;
}

@media (max-width: 768px) {

  html {
    font-size: 87.5%;
  }
.contentTasks {
  width: 80%;
}

.form input {
  width: 62%;
}

}